# macOS
.DS_Store

# Logs
*.log

# Environment variables & secrets
backend/.env
backend/.env.*
backend/config/master.key
backend/config/credentials/*.key

# Bundler
backend/.bundle/

# Node modules
backend/node_modules/
extension/node_modules/

# Rails runtime files
backend/log/*
backend/tmp/*
backend/storage/*

# Rails assets
backend/public/assets/

# Local database / editor
*.sqlite3
.vscode/