/* ===============================
   CODE WRAPPER
================================ */

.web-code-wrapper{
  position:relative;
}

.web-code-block{
  position:relative;
  max-height:240px;
  margin:0;
  padding:16px;
  overflow:hidden;
  border-radius:16px;
  background:#020617;
  border:1px solid rgba(255,255,255,.08 );

  color:#dbeafe;
  font-family:"JetBrains Mono","Fira Code",monospace;
  font-size:13px;
  line-height:1.7;
  white-space:pre-wrap;
  word-break:break-word;
  transition:max-height .3s ease;
}

.web-code-block.expanded{
  max-height:2000px;
  overflow:auto;
}
.web-code-block code{
  font-family:inherit;
}

/* ===============================
   PRISM TOKENS
================================ */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata{
  color:#64748b;
}

.token.punctuation{
  color:#94a3b8;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol{
  color:#f472b6;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin{
  color:#86efac;
}

.token.operator,
.token.entity,
.token.url{
  color:#67e8f9;
}

.token.atrule,
.token.attr-value,
.token.keyword{
  color:#c084fc;
}

.token.function,
.token.class-name{
  color:#60a5fa;
}

.token.regex,
.token.important,
.token.variable{
  color:#facc15;
}